[flake8]
# 最大行の長さ
max-line-length = 88
# 行末の空白と空行を無視
ignore = W291, W292, W293, W391
# モジュールレベルの抽象クラスの定義を許可
accept-encodings = utf-8
# F文字列を許可
extend-ignore = E203, E501, W503
# インポートの順序をチェック
import-order-style = pycharm
# 組み込み関数と同名の変数の定義を許可
builtins = _
