[tool.poetry]
name = "pybotters_wrapper"
version = "0.1.0"
description = ""
authors = ["ko0hi <ko0hi.0304@gmail.com>"]

[tool.poetry.dependencies]
python = ">=3.10.0"
pybotters = ">=0.13.1"
numpy = "^1.23.3"
pandas = "^1.5.0"
loguru = "^0.6.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
